# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyAfK4bkFV8rZnFxf-BHR32aQu_iObWXhEA'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_csv = pd.read_csv('../06-Python-APIs/Instructions/output_data/cities.csv')
cities_csv.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities_csv[['Lat', 'Lng']].astype(float)
# Store 'Humidity' into a float
humidity_data = cities_csv['Humidity'].astype(float)

#Store
cities_csv = cities_csv.dropna()

In [5]:
# Create a Heatmap layer
max_intensity = humidity_data.max()
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_data, 
                                dissipating=False, max_intensity=max_intensity,
                                point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
narrowed_df = pd.DataFrame(cities_csv, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (narrowed_df["Max Temp"] <= 80) & (narrowed_df["Max Temp"] > 70)
wind_speed = narrowed_df["Wind Speed"] < 10
cloudiness = narrowed_df["Cloudiness"] == 0

narrowed_df[max_temp & wind_speed & cloudiness]

             City  Max Temp  Wind Speed  Cloudiness
70   ponta do sol     73.68        5.32           0
88       cidreira     76.56        5.50           0
138     morondava     79.08        9.06           0
139         vaini     78.90        1.59           0
176         nador     75.20        6.93           0
297         mogok     72.24        2.77           0
444       birjand     71.60        9.17           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = pd.DataFrame(cities_csv, columns = ["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"]= ""

hotel_df

            City Country    Lat     Lng Hotel Name
0      ostrovnoy      RU  68.05   39.51
1      mahebourg      MU -20.41   57.70
2        qaanaaq      GL  77.48  -69.36
3         zhuhai      CN  40.71  112.04
4      cape town      ZA -33.93   18.42
..           ...     ...    ...     ...        ...
543       yabrud      SY  33.97   36.66
544      paraiso      MX  24.01 -104.61
545      veraval      FR  49.65    0.71
546  novyy urgal      RU  51.07  132.56
547      tongren      CN  27.72  109.18

[544 rows x 5 columns]

In [9]:

coord_target= f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
search_target= "hotel"
radius_target= 5000
type_target= "hotel"

#Base Url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#Parameters
params = {
    "key": g_key,
    "location": coord_target,
    "keyword": search_target,
    "radius": type_target,
}

In [10]:
response = requests.get(base_url, params=params)
pprint(response.json(), depth=2)

NameError: name 'pprint' is not defined

In [11]:
#Hotel Names
hotelname_list = []

params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    the_address = requests.get(base_url, params=params)
    
    the_address = the_address.json()

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig